
*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #cfd6f1;
}

main{
    border-radius: 10px;
    height: 85%;
    width: 45%;
    padding: 5px 40px 20px 40px;
    background-color: #ffffff;
}

.sec-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 50px;
    font-weight: 900;
    line-height: 85%;
    padding-bottom: 40px;
}
.logo{
    text-indent: 80px;
    font-size: 50px;
    color: #367bf5;  
}

form{
    display: flex;
    flex-direction: column;
}

.register{
    display: flex;
    justify-content: center;
}
