
*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #cfd6f1;
}

main{
    border-radius: 10px;
    height: 75%;
    width: 45%;
    padding: 40px;
    background-color: #ffffff;
}

section{
    border: solid 2px blue;
}

.sec-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

.register{
    display: flex;
    justify-content: center;
}
