
*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #cfd6f1;
}

main{
    border: solid 2px red;
    height: 75%;
    width: 55%;
    padding: 25px;
}

section{
    border: solid 2px blue;
}

.sec-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

.register{
    display: flex;
    justify-content: center;
}
